*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

min-height:100vh;

overflow-x:hidden;

overflow-y:auto;

display:flex;

justify-content:center;

align-items:center;

background-image:
linear-gradient(
rgba(8,17,31,0.75),
rgba(29,43,100,0.75)
),
url("../images/background.jpg");

background-size:cover;

background-position:center;

background-attachment:fixed;

font-family:Arial,sans-serif;

color:white;

padding:40px 20px;

}



#loading{

position:fixed;

width:100%;

height:100%;

background:#08111f;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:999;

transition:1s;

}



#loading h2{

font-size:80px;

}



#loading h1{

font-size:45px;

margin:20px;

}



#loading p{

color:pink;

font-size:22px;

}



#mainContent{

display:none;

width:100%;

height:100%;

}



.stars{

position:absolute;

width:100%;

height:100%;

background-image:
radial-gradient(white 1px,transparent 1px);

background-size:40px 40px;

opacity:.4;

}



.container{

position:relative;

z-index:2;

text-align:center;

}



h3{

font-size:25px;

color:#ffd8e8;

}



h1{

font-size:60px;

margin:25px;

}



p{

font-size:22px;

line-height:35px;

}



button{

padding:15px 35px;

border:none;

border-radius:40px;

font-size:20px;

cursor:pointer;

background:white;

color:#b42342;

margin-top:25px;

}



#overlay{

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

background:rgba(0,0,0,.85);

display:none;

justify-content:center;

align-items:center;

z-index:100;

}



.envelope{

width:380px;

height:250px;

background:#f8e7c9;

position:relative;

border-radius:10px;

overflow:visible;

box-shadow:0 20px 50px black;

}



.flap{

position:absolute;

top:0;

left:0;

border-left:190px solid transparent;

border-right:190px solid transparent;

border-top:130px solid #e6cfa7;

transform-origin:top;

transition:1s;

z-index:3;

}



.seal{

position:absolute;

top:100px;

left:50%;

transform:translateX(-50%);

width:70px;

height:70px;

background:#b42342;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:35px;

cursor:pointer;

z-index:5;

}


.paper{

position:absolute;

left:50%;

top:50%;

width:650px;

height:750px;

transform:translate(-50%,150%);

background:#fff8e8;

border-radius:15px;

transition:1.5s ease;

z-index:4;

overflow:hidden;

box-shadow:0 20px 50px rgba(0,0,0,.4);

}


.letter{

height:100%;

padding:45px;

text-align:center;

color:#5b3a29;

overflow-y:auto;

font-family:Georgia,serif;

font-size:18px;

line-height:1.7;

}



.letter h2{

color:#b42342;

font-size:26px;

margin-bottom:10px;

}



.date{

color:#999;

margin:10px;

}

.memory{

width:180px;

height:180px;

object-fit:cover;

border-radius:10px;

margin:20px auto;

display:block;

}



.closeLetter{

background:#b42342;

color:white;

font-size:14px;

padding:10px 18px;

margin-bottom:20px;

}



.open .flap{

transform:rotateX(180deg);

}



.open .paper{

transform:translate(-50%,-50%);

}

#musicButton{

background:#ffd6e5;

color:#b42342;

margin-bottom:20px;

}


#musicButton:hover{

box-shadow:0 0 30px pink;

}

.polaroid{

width:220px;

background:white;

padding:15px 15px 35px;

box-shadow:
0 10px 30px rgba(0,0,0,.25);

margin:20px auto;

transform:rotate(-3deg);

}



.polaroid img{

width:100%;

height:170px;

object-fit:cover;

}



.polaroid p{

color:#555;

font-family:cursive;

font-size:18px;

margin-top:10px;

}

.lettersPage{

position:relative;

z-index:2;

text-align:center;

width:90%;

}



.lettersPage h1{

font-size:45px;

color:#ffd8e8;

}



.lettersPage p{

font-size:22px;

}



.envelopes{

margin-top:50px;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:40px;

justify-items:center;

}



.dayEnvelope{

cursor:pointer;

transition:.4s;

}



.dayEnvelope:hover{

transform:translateY(-15px);

}



.miniEnvelope{

width:120px;

height:90px;

background:#f8e7c9;

border-radius:10px;

display:flex;

align-items:center;

justify-content:center;

font-size:55px;

box-shadow:

0 15px 30px rgba(0,0,0,.3);

}



.dayEnvelope h3{

margin-top:15px;

font-size:20px;

color:#ffd8e8;

}

.bigLetter{

position:relative;

z-index:2;

background:#fff8e8;

width:600px;

min-height:650px;

padding:50px;

border-radius:20px;

text-align:center;

color:#5b3a29;
margin:40px auto;

box-shadow:

0 20px 50px rgba(0,0,0,.4);

}



.bigLetter h1{

color:#b42342;

font-family:Georgia,serif;

}



.bigLetter p{

font-family:Georgia,serif;

font-size:20px;

line-height:1.8;

margin-top:25px;

}



.bigLetter button{

background:#b42342;

color:white;

}



.bigLetter .memory{

width:200px;

height:200px;

}



.dayEnvelope{

text-decoration:none;

color:white;

}

.coverPhoto{

width:250px;

height:250px;

object-fit:cover;

border-radius:50%;

border:8px solid white;

box-shadow:

0 0 40px rgba(255,255,255,.5);

margin-bottom:30px;

animation:floatPhoto 3s ease-in-out infinite;

}


@keyframes floatPhoto{


0%{

transform:translateY(0);

}


50%{

transform:translateY(-10px);

}


100%{

transform:translateY(0);

}


}
#musicButton{

position:fixed;

right:25px;

top:25px;

z-index:99999;

background:#ffd6e5;

color:#b42342;

font-size:16px;

padding:12px 25px;

}

.polaroid{


background:white;

width:220px;

padding:15px;

padding-bottom:35px;

box-shadow:

0 15px 30px rgba(0,0,0,.25);


margin:20px auto;

transform:rotate(-3deg);

transition:.4s;


}



.polaroid:hover{


transform:rotate(0deg) scale(1.05);


}



.polaroid img{

width:100%;

height:190px;

object-fit:cover;


}



.polaroid p{


font-family:"Georgia",serif;

font-size:18px;

color:#555;

margin-top:15px;

margin-bottom:0;


}

.realEnvelope{


width:160px;

height:110px;

background:#f8e7c9;

position:relative;

border-radius:12px;

box-shadow:

0 15px 30px rgba(0,0,0,.35);

overflow:hidden;

transition:.5s;

}



/* крышка */

.envelopeTop{


position:absolute;

top:0;

left:0;


width:0;

height:0;


border-left:80px solid transparent;

border-right:80px solid transparent;

border-top:55px solid #e8cda0;


}



/* сердечко */

.heartSeal{


position:absolute;

left:50%;

top:50%;

transform:translate(-50%,-50%);


width:45px;

height:45px;


background:#b42342;


border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


font-size:23px;


box-shadow:

0 5px 15px rgba(0,0,0,.3);


}



/* движение */

.dayEnvelope:hover .realEnvelope{


transform:

translateY(-15px)
rotate(-3deg);


box-shadow:

0 25px 45px rgba(255,180,200,.5);


}



.dayEnvelope h3{


margin-top:20px;

color:#ffd8e8;

font-size:22px;


}

.loveTimer{


background:

rgba(255,255,255,.15);


backdrop-filter:blur(10px);


border:

1px solid rgba(255,255,255,.3);



padding:35px;


border-radius:30px;


margin:40px auto;


width:380px;


text-align:center;



box-shadow:

0 20px 50px rgba(0,0,0,.3);


}



.loveTimer h2{


color:#ffd8e8;

font-family:Georgia,serif;


}



#counter{


font-size:28px;

line-height:1.6;

margin:20px;


}

/* ПАДАЮЩИЕ СЕРДЕЧКИ */


.hearts{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

pointer-events:none;

overflow:hidden;

z-index:1;

}



.fallingHeart{


position:absolute;

top:-30px;

font-size:25px;

animation:fall linear forwards;

opacity:.8;


}



@keyframes fall{


0%{

transform:
translateY(-50px)
rotate(0deg);

opacity:0;

}



20%{

opacity:1;

}



100%{

transform:
translateY(110vh)
rotate(360deg);

opacity:0;

}


}

.dayEnvelope{

opacity:0;

animation:showEnvelope .8s forwards;

}


.dayEnvelope:nth-child(1){

animation-delay:.2s;

}


.dayEnvelope:nth-child(2){

animation-delay:.4s;

}


.dayEnvelope:nth-child(3){

animation-delay:.6s;

}


.dayEnvelope:nth-child(4){

animation-delay:.8s;

}


.dayEnvelope:nth-child(5){

animation-delay:1s;

}


.dayEnvelope:nth-child(6){

animation-delay:1.2s;

}


.dayEnvelope:nth-child(7){

animation-delay:1.4s;

}



@keyframes showEnvelope{


from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

transform:translateY(0);

}


}

/* ФИНАЛЬНАЯ СТРАНИЦА */


.finalPage{


min-height:100vh;

width:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;


position:relative;

z-index:2;


}



.coverPhoto{


width:350px;

height:350px;

object-fit:cover;


border-radius:20px;


box-shadow:

0 20px 50px rgba(0,0,0,.5);


margin-bottom:40px;


}



.finalPage h1{


font-size:45px;

color:#ffd8e8;

font-family:Georgia,serif;


margin-bottom:30px;


}



.finalText{


max-width:700px;


font-size:24px;


line-height:1.8;


color:white;


}



.finalPage h2{


margin-top:40px;


font-family:Georgia,serif;


color:#ffd8e8;


}



.finalPage button{


margin-top:40px;


}